name: Article Service CI

on:
  push:
    branches:
      - main
    paths:
      - 'ArticleService/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # - name: Create service account key file from GitHub Secret
    #   run: |
    #     echo "${{ secrets.GCP_SA_KEY }}" > key.json
    #     echo "${{ secrets.GCP_SA_KEY }}" | base64 > key_base64.json

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    # - id: 'auth'
    #   name: 'Authenticate to Google Cloud'
    #   uses: 'google-github-actions/auth@v1'
    #   with:
    #     credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Run glcoud info
      run: gcloud info

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ArticleService/requirements.txt

    - name: Install linters
      run: |
        pip install pylint flake8

    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/ArticleService" >> $GITHUB_ENV

    - name: Set up CI variable
      run: |
        echo "CI_PIPELINE=true" >> $GITHUB_ENV

    - name: Run pylint
      run: |
        pylint --rcfile=ArticleService/.pylintrc ArticleService/src ArticleService/tests

    - name: Run flake8
      run: |
        flake8 --config=ArticleService/.flake8 ArticleService/src ArticleService/tests

    - name: Run unit tests
      run: |
        pytest ArticleService/tests/unit

    - name: Run integration tests
      run: |
        pytest -m integration ArticleService/tests/integration/

    - name: Run performance tests
      run: |
        pytest -m performance ArticleService/tests/performance/

    - name: Build Python package
      run: |
        python -m pip install --upgrade setuptools wheel 'build<0.10.0'
        python -m build ./ArticleService --sdist --wheel

    - name: Set up .pypirc
      run: |
        echo '[distutils]' > ~/.pypirc
        echo 'index-servers = dev-projects' >> ~/.pypirc
        echo '[dev-projects]' >> ~/.pypirc
        echo 'repository = https://europe-west6-python.pkg.dev/mtg-scraper-385015/dev-projects/' >> ~/.pypirc
        echo 'username: _json_key_base64' >> ~/.pypirc
        echo "password: $(base64 key.json)" >> ~/.pypirc
        
    - name: Publish Package to Artifact Registry
      run: |
        python -m pip install twine
        twine upload -r dev-projects ./ArticleService/dist/*
