name: Article Service CI

on:
  push:
    branches:
      - main
    paths:
      - 'ArticleService/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ArticleService/requirements.txt

    - name: Run unit tests
      run: |
        pytest ArticleService/tests/unit/test_GCPHandler.py
        pytest ArticleService/tests/unit/test_LinkScraper.py
        pytest ArticleService/tests/unit/test_mtg_article_pytest.py

    # - name: Run integration tests
    #   run: |
    #     pytest -m integration ArticleService/tests/test_mtg_article_pytest.py

  # Uncomment the following section when you have performance tests ready to be included
  # - name: Run performance tests
  #   run: |
  #     pytest -m performance ArticleService/tests/your_performance_tests_file.py
